/*
Algumas informações úteis e dicas:
  - Fontes disponíveis:
    font-family: 'Roboto', sans-serif;
    font-family: 'Permanent Marker', cursive;
  - Cores:
    Tons de amarelo:
      #e4fc2b
      #e0d426
      #f7d736
      #e0af26
      #fcb02b
    Tons de cinza:
      #2c2c2c
      #4c4c4c
    Cores dos cards:
      #ead3a7
      #9de0f5
      #ef89ba
      #fae890
      #abe9c1
  - Sombra: https://codepen.io/sdthornton/pen/wBZdXq
 */

html,
body {
  font-family: "Roboto", sans-serif;
}

.appbar{
  background-color: #f7d736;
  padding: 7px;
  display: flex;
  align-items: center;  
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  transition: background-color 0.3s;

}

.logo{
  width: 100px;
  height: 60px;
  display: block;
  margin-left: .5rem;
}

.subtitle{
  margin-left: 1rem;
}

.container{
  display: flex;
  flex-direction: column; 
  justify-content: center;
  margin-top: 1rem;
}

.form-card{
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  width: 30rem;
  height: 8rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  transition: background-color 0.3s;
  border-radius: .3rem;
}

.form-card-title{
  border: none;
  margin-bottom: .5rem;
  margin-left: 2%;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  color: #2c2c2c; 

}

.autoresize{
  border: none;
  margin-left: 2%;
  font-size: .8rem;
  margin-bottom: -.1rem;
  font-family: 'Roboto', sans-serif;
  color: #2c2c2c;
}

textarea{
  resize: none;
}

.btn{
  display: block;
  padding: 10px 15px;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  background-color: #f7d736;
  transition: background-color 0.3s;
  margin-left: 2%;
  margin-right: 2%;
}

.card-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  flex-wrap: wrap;

}

.card{
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  width: 13rem;
  height: 8rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: background-color 0.3s;
  border-radius: .3rem;
  margin-left: 1rem;
  margin-right: 1rem;

}

.card-color-1 {
  background-color: #ead3a7;
}

.card-color-2 {
  background-color: #9de0f5;
}

.card-color-3 {
  background-color: #ef89ba;
}

.card-color-4 {
  background-color: #fae890;
}

.card-color-5 {
  background-color: #abe9c1;
}

.card-transform-1{
  transform: rotate(10deg);
}
.card-transform-2{
  transform: rotate(5deg);
}
.card-transform-3{
  transform: rotate(-5deg);
}
.card-transform-4{
  transform: rotate(-10deg);
}
.card-transform-5{
  transform: rotate(3deg);
}
.card-transform-6{
  transform: rotate(-3deg);
}
.card-transform-7{
  transform: rotate(4deg);
}
.card-transform-8{
  transform: rotate(-4deg);
}


.card-title{
  font-family: 'Permanent Marker', cursive;
  position: relative;
  margin-bottom: .7rem;
  margin-left: 2%;
  margin-right: 2%;
  font-size: 1.2rem;
  letter-spacing: -.7px;

}

.card-content{
  font-family: 'Permanent Marker', cursive;
  margin-left: 2%;
  margin-right: 2%;
  font-size: 1rem;
  color: #4c4c4c;
}



/* Você pode usar o CSS comentado abaixo, se ajudar */
/* Fonte: https://codepen.io/CrisWoler/pen/ogXBLj */
/* .btn {
  position: relative;
  display: block;
  padding: 10px 15px;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);

  background-color: #f7d736;

  transition: background-color 0.3s;
}

.btn > * {
  position: relative;
}

.btn:before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 0;
  padding-top: 0;

  border-radius: 100%;

  background-color: rgba(236, 240, 241, 0.3);

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;

  transition: width 0.2s ease-out, padding-top 0.2s ease-out;
} */
